@model IEnumerable<Strona_RESET_Umbraco.Core.NewsAjaxModel>

@foreach (var children in Model)
            {
    <div class="row service-center margin-60">
        <div class="col-sm-3 col-xs-12 news-img">
            <img src="@children.shortIconUrl" class="img-responsive">
        </div>
        <div class="col-sm-9 col-xs-12 news-box">
            <p class="news-title">
                @Html.Raw(children.shortTitle)
            </p>
            <p class="news-date">
                @children.shortDate
            </p>
            <p class="news-desc">
                @Html.Raw(children.shortDesc)
            </p>
            <div class="read-more-box">
                <a href="@children.url">
                    <p class="news-details hvr-float">
                        SZCZEGÓŁY
                        <i class="fa fa-angle-double-right">
                        </i>
                    </p>
                </a>
            </div>
        </div>
    </div>
}

@if (Model.Any())
{
    <div class="col-xs-12 text-center reset-font-medium" style="margin-top: 20px" id="parentLoad">
        <a id="loadNextIndicator" href="">
            zobacz następne<br/>
            <i class="fa fa-angle-double-down"></i>
        </a>
    </div>
}

