@using Strona_RESET_Umbraco.FrontendHelpers
@inherits UmbracoTemplatePage

@{
    Layout = "Layout.cshtml";
    ViewBag.ActivePage = 1;
    var childrens = CurrentPage.Children;
}
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="reset-font-large">
                    <strong>@Umbraco.Field("AktualnosciHeader", removeParagraphTags: true)</strong>
                </p> <br />
                <p class="reset-font-small">@Umbraco.Field("aktualnosciDesc", removeParagraphTags: true)</p>
            </div>
        </div>
        <div id="Filters">
            <div class="row">
                <ul class="text-center" id="filter-list">
                    <li class="filter-button gray filter" data-filter=".year-2016">2016</li>
                    <li class="filter-button gray filter" data-filter=".year-2015">2015</li>
                    <li class="filter-button gray filter" data-filter=".year-2014">2014</li>
                </ul>
            </div>
            <div class="row">
                <ul class="text-center">
                    <li class="filter-button gray filter active" data-filter=".all">WSZYSTKIE</li>
                    <li class="filter-button blue filter" data-filter=".category-lectures">WYKŁADY</li>
                    <li class="filter-button violet filter" data-filter=".category-conference">KONFERENCJE</li>
                    <li class="filter-button green filter" data-filter=".category-success">SUKCESY</li>
                </ul>
            </div>
        </div>

        <div class="row" id="sortList">
            <!-- Start Service Icon 1 -->
            @foreach (var children in CurrentPage.Children)
            {
                var innerUmbracoHelper = new UmbracoHelper(UmbracoContext, Umbraco.Content(children.Id));
                <div class="col-md-3 col-sm-6 service-box service-center mix @NewsCssClassResolver.GetMixItUpCategoryCssClass(innerUmbracoHelper.Field("typeDropdown", removeParagraphTags: true).ToString()) @("year-"+innerUmbracoHelper.Field("yearDropdown", removeParagraphTags: true)) all" data-animation="fadeIn" data-animation-delay="01">
                    <div class="news-icon">
                        <i class="fa @innerUmbracoHelper.Field("newsIcon", removeParagraphTags: true)"></i>
                    </div>
                    <div class="service-content">
                        <div class="title-border"></div>
                        <h4 class="reset-font-small ">
                            <strong>
                                @innerUmbracoHelper.Field("shortTitle", removeParagraphTags: true)
                            </strong>
                        </h4>
                        <p>
                            @innerUmbracoHelper.Field("shortDesc", removeParagraphTags: true)
                        </p>
                        <a href="@children.Url"><i class="fa fa-ellipsis-h icon-color"></i></a>
                    </div>

                </div>
            }



            <!-- .row -->

        </div>
        <!-- .container -->
    </div>
</div>