@using Strona_RESET_Umbraco.FrontendHelpers
@inherits UmbracoTemplatePage

@{
    Layout = "Layout.cshtml";
    ViewBag.ActivePage = 1;
    var childrens = CurrentPage.Children;
}
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="reset-font-large">
                    <strong>@Umbraco.Field("AktualnosciHeader", removeParagraphTags: true)</strong>
                </p> <br />
                <p class="reset-font-small">@Umbraco.Field("aktualnosciDesc", removeParagraphTags: true)</p>
            </div>
        </div>
        <div id="Filters">
            <div class="row">
                <ul class="text-center" id="filter-list">
                    <li class="filter-button gray filter" data-filter=".year-2016">2016</li>
                    <li class="filter-button gray filter" data-filter=".year-2015">2015</li>
                    <li class="filter-button gray filter" data-filter=".year-2014">2014</li>
                </ul>
            </div>
            <div class="row">
                <ul class="text-center">
                    <li class="filter-button gray filter active" data-filter=".all">WSZYSTKIE</li>
                    <li class="filter-button blue filter" data-filter=".category-lectures">WYKŁADY</li>
                    <li class="filter-button violet filter" data-filter=".category-conference">KONFERENCJE</li>
                    <li class="filter-button green filter" data-filter=".category-success">SUKCESY</li>
                </ul>
            </div>
        </div>

        <div class="row" id="sortList">
            <!-- Start Service Icon 1 -->
            @foreach (var children in CurrentPage.Children)
            {
                var innerUmbracoHelper = new UmbracoHelper(UmbracoContext, Umbraco.Content(children.Id));
                <div class="col-xs-12 service-box service-center mix @NewsCssClassResolver.GetMixItUpCategoryCssClass(innerUmbracoHelper.Field("typeDropdown", removeParagraphTags: true).ToString()) @("year-"+innerUmbracoHelper.Field("yearDropdown", removeParagraphTags: true)) all" data-animation="fadeIn" data-animation-delay="01">

                    <div class="box">
                        <div class="icon">
                            <div class="image">
                                <i class="fa @innerUmbracoHelper.Field("newsIcon", removeParagraphTags: true)"></i>
                            </div>
                            <div class="info">
                                <div class="title">
                                    @innerUmbracoHelper.Field("shortTitle", removeParagraphTags: true)
                                </div>
                                <p id="title-desc">
                                    @innerUmbracoHelper.Field("shortDesc", removeParagraphTags: true)
                                </p>
                                <div class="more pull-right">
                                    <a href="@children.Url" class="newsdetails-link">
                                        <i class="glyphicon glyphicon-plus">
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>                  
                    </div>

                </div>
            }



            <!-- .row -->

        </div>
        <!-- .container -->
    </div>
</div>