@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	Layout = "Layout.cshtml";
	ViewBag.ActivePage = 2;
}
<link href="/css/magnific-popup.css" rel="stylesheet" />
<link href="/css/Gallery.css" rel="stylesheet" />

<section class="gallery">
    <div class="container popup-gallery">
        <div class="row zoom-gallery">
            <div class="col-lg-12 text-center">
                <h1 class="reset-font-large">Wykład Jcommerce</h1>
                <br />
                <h3 class="reset-font-small">10 luty 2015</h3>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="@Url.Content("~/Content/images/Wyklad Gallery/_DSC5504.jpg")">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5504.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="@Url.Content("~/Content/images/Wyklad Gallery/_DSC5505.jpg")">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5505.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="@Url.Content("~/Content/images/Wyklad Gallery/_DSC5507.jpg")">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5507.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="@Url.Content("~/Content/images/Wyklad Gallery/_DSC5513.jpg")">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5513.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="@Url.Content("~/Content/images/Wyklad Gallery/_DSC5515.jpg")">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5515.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="@Url.Content("~/Content/images/Wyklad Gallery/_DSC5517.jpg")">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5517.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5518.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5520.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5523.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5525.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5526.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5527.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5528.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5529.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5530.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5532.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5533.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5534.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5535.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5536.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5539.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5542.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5543.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5544.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5547.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/Content/images/Wyklad Gallery/_DSC5551.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

@section Scripts{
		<script type="text/javascript" src="~/Scripts/gallery/jquery.magnific-popup.js"></script>
		<script type="text/javascript" src="~/Scripts/gallery/customGallery.js"></script>

}