@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
    ViewBag.ActivePage = 2;
    var childrens = CurrentPage.Children;
}
<link href="/css/Gallery.css" rel="stylesheet" />
<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="reset-font-large">
                    <strong>GALERIA</strong>
                </p> <br />
                <p class="reset-font-small">OGLĄDAJ ZDJĘCIA Z NASZYCH WYKŁADÓW, KONFERENCJI <br /> ZOBACZ JAK SPĘDZAMY CZAS!</p>
            </div>
        </div>
        <div class="row">
            @foreach (var children in childrens)
            {
                var innerUmbracoHelper = new UmbracoHelper(UmbracoContext, Umbraco.Content(children.Id));
                <div class="col-md-6">
                    <img class="@innerUmbracoHelper.TypedMedia(innerUmbracoHelper.Field("galleryMainImg").ToString()).Url" alt="">
                </div>
                <div class="col-md-6">
                    <h3 class="reset-font-medium">@innerUmbracoHelper.Field("galleryTitle", removeParagraphTags: true)</h3>
                    <h4 class="reset-font-small">@innerUmbracoHelper.Field("galleryDate", removeParagraphTags: true)</h4>
                    <p>@innerUmbracoHelper.Field("galleryDesc", removeParagraphTags: true)</p>
                    <a class="button-reset-default black" href="@children.Url">ZOBACZ GALERIĘ<span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            }
        </div>
            <hr>
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>