@using Umbraco.Web.Models
@using Strona_RESET_Umbraco.FrontendHelpers
@using Strona_RESET_Umbraco.Models;

@inherits UmbracoViewPage<NewsReturnModel>
@{
    Layout = "Layout.cshtml";
    ViewBag.ActivePage = 0;
}

<!-- Start Services Section -->
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="pageNameHeader reset-font-medium">AKTUALNOŚCI</div>
        </div>
        <div id="Filters">
            <div class="row">
                <ul class="text-center">
                    <li class="filter-button gray filter active" data-filter=".all">WSZYSTKIE</li>
                    <li class="filter-button gray filter" data-filter=".category-lectures">WYKŁADY</li>
                    <li class="filter-button gray filter" data-filter=".category-conference">KONFERENCJE</li>
                    <li class="filter-button gray filter" data-filter=".category-success">SUKCESY</li>
                    <li class="filter-button gray filter" data-filter=".category-another">INNE</li>

                </ul>
            </div>
        </div>

        <div class="row" id="sortList">
            <!-- Start Service Icon 1 -->
            @foreach (var children in Model.News)
            {
                var innerUmbracoHelper = new UmbracoHelper(UmbracoContext, children);
                <div class="service-center mix @NewsCssClassResolver.GetMixItUpCategoryCssClass(innerUmbracoHelper.Field("typeDropdown", removeParagraphTags: true).ToString()) all" data-animation="fadeIn" data-animation-delay="01" style="display:table">
                    <div class="col-sm-3 col-xs-12 news-img hidden-xs" style="display:table-cell !important">
                        <img src="@innerUmbracoHelper.TypedMedia(innerUmbracoHelper.Field("shortIcon").ToString()).Url" class="img-responsive">
                    </div>
                    <div class="col-sm-8 col-sm-offset-1 col-xs-12 news-box">
                        <p class="news-title">
                            @innerUmbracoHelper.Field("shortTitle", removeParagraphTags: true)
                        </p>
                        <p class="news-date">
                            @innerUmbracoHelper.Field("shortDate", removeParagraphTags: true)
                        </p>
                        <p class="news-desc">
                            @innerUmbracoHelper.Field("shortDesc", removeParagraphTags: true)
                        </p>
                        <div class="read-more-box">
                            <a href="@children.Url">
                                <p class="news-details hvr-float">
                                    SZCZEGÓŁY
                                    <i class="fa fa-angle-double-right">
                                    </i>
                                </p>
                            </a>
                        </div>
                    </div>

                </div>
            }
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
</div>

@section Scripts{
    <script>
        debugger;
        $.get("/umbraco/surface/LazyNews/Index", function(data) {

        });
    </script>
}

