@using Umbraco.Web.Models
@using Strona_RESET_Umbraco.FrontendHelpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Layout.cshtml";
    ViewBag.ActivePage = 0;
    DynamicPublishedContentList test = CurrentPage.Parent.Children;
    var aktualnosciChildren = test.First(x => x.Name == "Aktualnosci").Children;
}

<!-- Start Services Section -->
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="description reset-font-medium">AKTUALNOŚCI</div>
        </div>
        <div id="Filters">
            <div class="row">
                <ul class="text-center" id="filter-list">
                    <li class="filter-button gray filter" data-filter=".year-2016">2016</li>
                    <li class="filter-button gray filter" data-filter=".year-2015">2015</li>
                    <li class="filter-button gray filter" data-filter=".year-2014">2014</li>
                </ul>
            </div>
            <div class="row">
                <ul class="text-center">
                    <li class="filter-button gray filter active" data-filter=".all">WSZYSTKIE</li>
                    <li class="filter-button blue filter" data-filter=".category-lectures">WYKŁADY</li>
                    <li class="filter-button violet filter" data-filter=".category-conference">KONFERENCJE</li>
                    <li class="filter-button green filter" data-filter=".category-success">SUKCESY</li>
                </ul>
            </div>
        </div>

        <div class="row" id="sortList">
            <!-- Start Service Icon 1 -->
            @foreach (var children in aktualnosciChildren)
            {
                var innerUmbracoHelper = new UmbracoHelper(UmbracoContext, Umbraco.Content(children.Id));
                <div class="service-box service-center mix @NewsCssClassResolver.GetMixItUpCategoryCssClass(innerUmbracoHelper.Field("typeDropdown", removeParagraphTags: true).ToString()) @("year-"+innerUmbracoHelper.Field("yearDropdown", removeParagraphTags: true)) all" data-animation="fadeIn" data-animation-delay="01">
                    <div class="col-md-3">
                        <img src="~/media/1191/wyklad_infografik.png" class="img-responsive" />
                    </div>
                    <div class="col-md-8 col-md-offset-1 news-box">
                        <p class="news-title">
                            @innerUmbracoHelper.Field("shortTitle", removeParagraphTags: true)
                        </p>
                        <p class="news-date">
                            @innerUmbracoHelper.Field("shortDate", removeParagraphTags: true)
                        </p>
                        <p class="news-desc">
                            @innerUmbracoHelper.Field("shortDesc", removeParagraphTags: true)
                        </p> 
                        <div class="read-more-box pull-right">
                            <a href="@children.Url">
                                <p class="news-details hvr-float">
                                    KLIKNIJ po więcej szczegółów
                                    <i class="fa fa-angle-double-right">
                                    </i>
                                </p>
                            </a>
                        </div>      
                    </div>

                </div>
            }
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
</div>

