@using System.Web.Optimization
@using Strona_RESET_Umbraco.SurfaceControllers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    Umbraco.Web.Models.DynamicPublishedContentList wtf = Umbraco.ContentAtRoot().First().Children;
    var news = wtf.First(x => x.Name == "Home").Children.OrderByDescending(a => a.CreateDate).Take(3);
    var gallery = wtf.First(x => x.Name == "Galeria").Children.OrderByDescending(a => a.CreateDate).Take(9);

}
<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
<head>
    <!-- Basic -->
    <title>@ViewBag.Title</title>
    <!-- Define Charset -->
    <meta charset="utf-8">
    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Page Description and Author -->
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="Reset ATH - Akademia Techniczno Humanistyczna">
    <meta name="tags" content="@ViewBag.ResetTags">
    <link href='http://fonts.googleapis.com/css?family=Biryani&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    @Styles.Render("~/bundles/css")

    <link rel="apple-touch-icon" sizes="57x57" href="~/Favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Favicons/favicon-16x16.png">
    <link rel="manifest" href="~/Favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script type="text/javascript" src="~/Scripts/modernizrr.js"></script>
</head>
<body>
    <!-- Full Body Container -->
    <div id="container">
        <!-- Start Header Section -->
        <div class="hidden-header"></div>
        <header class="clearfix">
            <!-- Start Top Bar -->
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <!-- Start Contact Info -->
                            <ul class="contact-details">
                                <li>
                                    <a href="http://info.ath.bielsko.pl/" target="_blank">AKADEMIA TECHNICZNO-HUMANISTYCZNA W BIELSKU-BIAŁEJ</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope-o"></i> reset@ath.bielsko.pl</a>
                                </li>
                            </ul>
                            <!-- End Contact Info -->
                        </div>
                        <!-- .col-md-6 -->
                        <div class="col-md-5">
                            <!-- Start Social Links -->
                            <ul class="social-list">
                                <li>
                                    <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="https://www.facebook.com/ResetATH"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="https://twitter.com/resetath"><i class="fa fa-twitter"></i></a>
                                </li>
                            </ul>
                            <!-- End Social Links -->
                        </div>
                        <!-- .col-md-6 -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .container -->
            </div>
            <!-- .top-bar -->
            <!-- End Top Bar -->
            <!-- Start  Logo & Naviagtion  -->
            <div class="navbar navbar-default navbar-top">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Stat Toggle Nav Link For Mobiles -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- End Toggle Nav Link For Mobiles -->
                        <a class="navbar-brand" href="/home">
                            <img alt="Logo RESET" src="~/media/1090/logo_reset.png" class="img-responsive reset-logo">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <!-- Start Navigation List -->
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/home" class="@(ViewBag.ActivePage == 0 ? "active" : "")"><i class="fa fa-home"></i></a>
                            </li>
                            <li>
                                <a href="/galeria" class="@(ViewBag.ActivePage == 2 ? "active" : "")">GALERIA</a>
                            </li>

                            <li>
                                <a href="/projekty" class="@(ViewBag.ActivePage == 4 ? "active" : "")">PROJEKTY</a>
                            </li>
                            <li>
                                <a href="/kontakt" class="@(ViewBag.ActivePage == 3 ? "active" : "")">KONTAKT</a>
                            </li>
                            <li>
                                <a href="/ofertypracy" class="@(ViewBag.ActivePage == 5 ? "active" : "")">OFERTY PRACY</a>
                            </li>
                        </ul>
                        <!-- End Navigation List -->
                    </div>
                </div>
                <!-- Mobile Menu Start -->
                <ul class="wpb-mobile-menu">
                    <li>
                        <a href="/home" class="@(ViewBag.ActivePage == 0 ? "active" : "")"><i class="fa fa-home"></i></a>
                    </li>
                    <li>
                        <a href="/galeria" class="@(ViewBag.ActivePage == 2 ? "active" : "")">GALERIA</a>
                    </li>
                    <li>
                        <a href="/projekty" class="@(ViewBag.ActivePage == 4 ? "active" : "")">PROJEKTY</a>
                    </li>
                    <li>
                        <a href="/kontakt" class="@(ViewBag.ActivePage == 3 ? "active" : "")">KONTAKT</a>
                    </li>
                    <li>
                        <a href="/ofertypracy" class="@(ViewBag.ActivePage == 5 ? "active" : "")">OFERTY PRACY</a>
                    </li>
                </ul>
                <!-- Mobile Menu End -->
            </div>
            <!-- End Header Logo & Naviagtion -->
        </header>
        <!-- End Header Section -->
        <!-- Start Home Page Slider -->
        <section id="home" class="hidden-xs">
            <!-- Carousel -->
            <div id="main-slide" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slide" data-slide-to="1"></li>
                    <li data-target="#main-slide" data-slide-to="2"></li>
                </ol>
                <!--/ Indicators end-->
                <!-- Carousel inner -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="img-responsive" src="@Umbraco.TypedMedia(Umbraco.Field("bannerSlideImage1", recursive: true).ToString()).Url" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated2">
                                    <span>@Umbraco.Field("bannerText1", recursive: true)</span>
                                </h2>
                                <h3 class="animated3">
                                    <span>@Umbraco.Field("bannerText1Inner", recursive: true)</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--/ Carousel item end -->
                    <div class="item">
                        <a href="http://smartparkath.azurewebsites.net/" target="_blank">
                            <img class="img-responsive" src="@Umbraco.TypedMedia(Umbraco.Field("bannerSlideImage2", recursive: true).ToString()).Url" alt="slider">
                        </a>

                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated2">
                                    <span>@Umbraco.Field("bannerText2", recursive: true)</span>
                                </h2>
                                <h3 class="animated3">
                                    <span>@Umbraco.Field("bannerText2Inner", recursive: true)</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--/ Carousel item end -->
                    <div class="item">
                        <img class="img-responsive" src="@Umbraco.TypedMedia(Umbraco.Field("bannerSlideImage3", recursive: true).ToString()).Url" alt="slider">
                        <div class="slider-content">
                            <div class="col-md-12 text-center">
                                <h2 class="animated2">
                                    <span>@Umbraco.Field("bannerText3", recursive: true)</span>
                                </h2>
                                <h3 class="animated3">
                                    <span>@Umbraco.Field("bannerText3Inner", recursive: true)</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--/ Carousel item end -->
                </div>
                <!-- Carousel inner end-->
                <!-- Controls -->
                <a class="left carousel-control" href="#main-slide" data-slide="prev">
                    <span><i class="fa fa-angle-left"></i></span>
                </a>
                <a class="right carousel-control" href="#main-slide" data-slide="next">
                    <span><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
            <!-- /carousel -->
        </section>
        <!-- End Home Page Slider -->
        @RenderBody()
        <!-- Start Footer Section -->
        <footer>
            <div class="container">
                <div class="row footer-widgets">

                    <!-- Start Subscribe & Social Links Widget -->
                    <div class="col-md-3 col-xs-12">
                        <div class="footer-widget mail-subscribe-widget">
                            <h4>SKONTAKTUJ SIĘ Z NAMI<span class="head-line"></span></h4>
                            <p>Zapraszamy do kontaktu studentów, firmy i wszystkich chcących podjąć z nami współpracę !</p>
                            <a href="#"><i class="fa fa-envelope-o"></i> reset@ath.bielsko.pl</a>
                        </div>
                        <div class="footer-widget social-widget">
                            <h4>OBSERWUJ NAS<span class="head-line"></span></h4>
                            <ul class="social-icons">
                                <li>
                                    <a class="facebook" href="https://www.facebook.com/ResetATH"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://twitter.com/resetath"><i class="fa fa-twitter"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- .col-md-3 -->
                    <!-- End Subscribe & Social Links Widget -->
                    <!-- Start Twitter Widget -->
                    <div class="col-md-3 col-xs-12">
                        <div class="footer-widget twitter-widget">
                            <h4>OSTATNIE AKTUALNOŚCI<span class="head-line"></span></h4>
                            <ul>
                                @foreach (var item in news)
                                {
                                    var innerUmbracoHelper = new UmbracoHelper(UmbracoContext, item);
                                    <li>
                                        <p>
                                            <a href="@item.Url">
                                                @innerUmbracoHelper.Field("shortTitle", removeParagraphTags: true).ToString().RemoveSpanParagraphs()
                                            </a><br />
                                            @innerUmbracoHelper.Field("shortDesc", removeParagraphTags: true)
                                        </p>
                                        <span>
                                            @innerUmbracoHelper.Field("shortDate", removeParagraphTags: true)
                                        </span>
                                    </li>
                                }

                            </ul>
                        </div>

                    </div>
                    <!-- .col-md-3 -->
                    <!-- End Twitter Widget -->
                    <!-- Start Flickr Widget -->
                    <div class="col-md-3 col-xs-12">
                        <div class="footer-widget flickr-widget">
                            <h4>GALERIA<span class="head-line"></span></h4>
                            <ul class="flickr-list">
                                @foreach (var item in gallery)
                                {
                                    var innerUmbracoHelper = new UmbracoHelper(UmbracoContext, item);
                                    <li>
                                        <a href="@item.Url">
                                            <img src="@innerUmbracoHelper.TypedMedia(innerUmbracoHelper.Field("galleryMainImg").ToString()).Url" alt="">
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- .col-md-3 -->
                    <!-- End Flickr Widget -->
                    <!-- Start Contact Widget -->
                    <div class="col-md-3 col-xs-12">
                        <div class="footer-widget contact-widget">
                            <h4><img src="/media/1091/logo_reset_footer.png" class="img-responsive" alt="Footer Logo" /></h4>
                            <p>
                                RESET jest zrzeszonym kołem naukowym studentów Informatyki, którzy pragną rozwijać swoją wiedzę, umiejętności oraz doświadczenie w zakresie programowania, systemów operacyjnych oraz wielu innych, bardzo ciekawych aspektów informatyki.<br />
                                Koło dzieli się na trzy sekcje:<br />
                                - Technologie .NET (opiekun: Szymon Tengler)<br />
                                - Systemy operacyjne (opiekun: Tomasz Gancarczyk)<br />
                                - Technologie mobilne: (opiekun: Paweł Fałat)<br />
                            </p>
                            <ul>
                                <li><span>Email:</span> reset@ath.bielsko.pl</li>
                                <li><span>Website:</span> www.reset.ath.bielsko.pl</li>
                            </ul>
                        </div>
                    </div>
                    <!-- .col-md-3 -->
                    <!-- End Contact Widget -->

                </div>
                <!-- .row -->
                <!-- Start Copyright -->
                <div class="copyright-section">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; 2016 RESET ATH - All Rights Reserved <a href="http://reset.ath.bielsko.pl"></a> </p>
                        </div>
                        <!-- .col-md-6 -->
                        <div class="col-md-6">
                            <ul class="footer-nav">
                                <li>
                                    <a href="/galeria">GALERIA</a>
                                </li>
                                <li>
                                    <a href="/projekty">PROJEKTY</a>
                                </li>
                                <li>
                                    <a href="/kontakt">KONTAKT</a>
                                </li>
                                <li>
                                    <a href="/ofertypracy">OFERTY PRACY</a>
                                </li>
                            </ul>
                        </div>
                        <!-- .col-md-6 -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- End Copyright -->
            </div>
        </footer>
        <!-- End Footer Section -->

    </div>
    <!-- End Full Body Container -->
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <div id="loader">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/js")

    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    @RenderSection("Scripts", false)
</body>
</html>